@{
    Layout = "../Shared/_Layout.cshtml";
}

<div id="root"></div><noscript>You need to enable JavaScript to run this app.</noscript>
<script>
    window.rootPage = '@Html.Raw((string)ViewBag.rootPage)'
    window.SingleActionUrl = '@(Html.Raw((string)ViewBag.SingleActionUrl))';
    window.moduleType = 3;
</script>

