
@{
    ViewBag.Title = "داشبورد";
    Layout = "../Shared/_LayoutBpms.cshtml";
}

<div id="root"></div><noscript>You need to enable JavaScript to run this app.</noscript>
<script>
    window.rootPage = '@Html.Raw((string)ViewBag.rootPage)';
    window.AdminUrl = '@(Html.Raw((string)ViewBag.AdminUrl))';
    window.EngineUrl = '@(Html.Raw((string)ViewBag.EngineUrl))';
    window.moduleType = 1;
</script>